body {
  margin: 0;
  color: #333;
  background-image: linear-gradient(90deg, #102339 0%, #023c57 49%, #102339 99%);
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 5vmin;
  margin: 0 0 30px;
  color: #102339;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vmin;
}

.form-container {
  background: #feffff;
  border-radius: 15px;
  justify-content: center;
  padding: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.login-form h2 {
  margin: 0 0 20px;
  color: #333;
}

.form-group {
  margin: 10px 20px 0px 0px;
}

label {
  display: flex;
  width: 300px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

button {
  margin: 20px 20px 0px 0px;
  width: 100%;
  padding: 10px;
  background-color: #0080ff;
  color: #feffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb6;
}

p {
  margin: 20px 0 0;
}

a {
  color: #0074d9;
  text-decoration: none;
}

/* Media queries untuk tampilan responsif */
@media screen and (max-width: 768px) {
  .form-container {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    width: 100%;
    padding: 10px;
  }

  .login-form h2 {
    font-size: 20px;
  }
}
